@{
    ViewBag.Title = "About Us";
}
<section id="contact" class="section-bg">

    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>@ViewBag.Title</h2>
            <p>Schedule with Food Truck Events and let us bring the people to you!</p>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                
            </div>

            <div class="col-md-4">
                FTEvents hosts events at multiple locations across the country and throughout the year. Don't worry about tracking down new customers. We will bring them to you. Register with us and gain the ability to Reserve a place for your food truck an any of our events. Reservations are scheduled on a first-come basis so schedule Today!
            </div>

            <div class="col-md-4">
                
            </div>

        </div>



    </div>
</section>