@{
    ViewBag.Title = "About Us";
}
<section id="contact" class="section-bg">

    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>@ViewBag.Title</h2>
            <p>Schedule with Food Truck Events and let us bring the people to you!</p>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                
            </div>

            <div class="col-md-4">
                
            </div>

            <div class="col-md-4">
                
            </div>

        </div>



    </div>
</section>