body {
    padding-top: 45px;
}

.btn-default {
    color: #fff;
    background-color: #f82249;
    padding: 7px 22px;
    border-radius: 50px;
    border: 2px solid #f82249;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 2px;
    line-height: 1;
    font-size: 13px;
}

    .btn-default:hover {
        color: #fff;
        background-color: #0B1126;
    }

.pl-03 {
    padding-left: 0.3em;
}

.pl-045 {
    padding-left: 4.5em;
}

.p-2e {
    padding: 2em;
}

.text-md {
    font-size: 1.5em;
    line-height: 1.2;
}

.delete-warning {
    color: #ED3C0D !important;
    font-weight: bold !important;
}

/*h2 {
    overflow-wrap: break-word;
} This code was replaced with C# substrings in the necessary views.*/

/* Nav CSS Adjustments */
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100%;
    }
}

/* CSS Adjustment for Role Dropdowns */
a.dropdown-item {
    color: #0E1B4D;
    display: block;
}
.nav-menu a:hover {
    color: #f82249;
}

/* CSS Adjustment for Role Dropdowns in Mobile View */
#mobile-nav ul a.dropdown-item {
    color: #0E1B4D;
}

#mobile-nav dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/* To enlarge & prevent user rexizing of textarea */
textarea.form-control {
    resize: none;
    height: 7em;
}

/* Landing Page */
#intro {
    background-image: url('images/ferrisWheelNight.jpg');
}

/* User Greeting */
.greeting {
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    color: rgba(202, 206, 221, 0.8);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    outline: none;
}

/* Toggles */
.toggle-on.btn {
    color: #fff;
    background-color: #f82249;
    /*padding: 7px 22px;*/
    /*border-radius: 25px;*/
    border: 2px solid #f82249;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    /*margin-left: 8px;*/
    /*margin-top: 2px;*/
    /*line-height: 1;*/
    font-size: 13px;
}