body {
    padding-top: 45px;
}

.btn-default {
    color: #fff;
    background-color: #f82249;
    padding: 7px 22px;
    border-radius: 50px;
    border: 2px solid #f82249;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 2px;
    line-height: 1;
    font-size: 13px;
}

    .btn-default:hover {
        color: #fff;
        background-color: #0B1126;
    }

.pl-03 {
    padding-left: 0.3em;
}

.pl-045 {
    padding-left: 4.5em;
}

.text-md {
    font-size: 1.5em;
    line-height: 1.2;
}

.delete-warning {
    color: #ED3C0D !important;
    font-weight: bold !important;
}

/*h2 {
    overflow-wrap: break-word;
} This code was replaced with C# substrings in the necessary views.*/

/* CSS Adjustment for Role Dropdowns */
a.dropdown-item {
    color: #0E1B4D;
    display: block;
}

/* CSS Adjustment for Role Dropdowns in Mobile View */
#mobile-nav ul a.dropdown-item {
    color: #0E1B4D;
}

#mobile-nav dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


.table tr th {
    vertical-align: central;
    
}

/* To enlarge & prevent user rexizing of textarea */
textarea.form-control {
    resize: none;
    height: 7em;
}

/* To allow dropdown to scroll in mobile nav 
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}*/